{% extends 'templates/base.html' %}

{% block meta %}
    <title>Report - Survive COVID</title>
{% endblock meta %}

{% block content %}
<div style="min-height: 600px;">
    <p class="main-title text-glow center">Report</p>
    <p class="button-text-dummy center">This feature is useful for seeing and reporting suspects around you.</p>
    <br>
    <div class="center">
        <a href="{% url 'report:new' %}">
            <button class="cta">
                <p class="cta-text text-shadow">+ New Report</p>
            </button>
        </a>
        <a href="#collapseDataReport" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDataReport">
            <button class="shadow-cta" >
                <p class="shadow-cta-text">See Report</p>
            </button>
        </a>
    </div>
    <br>
    <div class="{{ toggle }}" id="collapseDataReport">
        {% if suspects %}
        <form method="POST">
            {% csrf_token %}
            <div>
                {{ search }}
                <p class="cta-text text-shadow"><input type='submit' class="cta cta-text text-shadow" value="Search"></p>
            </div>
        </form>
        <br>
        <table class="table table-bordered" style="background-color: var(--green-bg);">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Birth Date</td>
                    <td>Address</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                {% for person in suspects %}
                <tr>
                    <td>{{ person.nama_suspek}}</td>
                    <td>{{ person.tanggal_lahir }}</td>
                    <td>{{ person.alamat }}</td>
                    <td>{{ person.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text center">No data avalaible<p>
        {% endif %}
    </div>
</div>
    
{% endblock content %}