@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@700&display=swap');

/********** COLORS **********/
:root {
	--green-text: #318e68;
	--green-1: #2ecf91;
	--green-2: #99f3bd;
	--green-3: #d2f6c5;
	--green-bg: #f5f5df;
	--light: #fffffa;
	--passionfruit: #f56a79;
	--orange: #ffa179;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 5vw;
    background-color: var(--green-1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    margin: 0;
}

.logo {
    margin-right: auto;
}

.icon {
    height: 30px;
    width: 30px;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.nav-cta,
.overlay__content a {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    color: var(--light);
    font-size: 14px;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: var(--green-3);
}

.nav-cta {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-cta:hover {
    color: #f8f8f8;
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--green-1);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--green-3);
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: var(--light);
   cursor: pointer;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 750px) {
    .nav__links,
    .nav-cta {
        display: none;
    }

    .menu {
        display: initial;
    }

    header {
        padding: 6px 15px;
    }

    .icon {
        height: 20px;
        width: 20px;
    }
}
