@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@700&display=swap');

/********** COLORS **********/
:root {
	--green-text: #318e68;
	--green-1: #2ecf91;
	--green-2: #99f3bd;
	--green-3: #d2f6c5;
	--green-bg: #f5f5df;
	--light: #fffffa;
	--passionfruit: #f56a79;
	--orange: #ffa179;
}

/********** GENERAL **********/

html {
	scroll-behavior: smooth;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--green-bg);
	min-height:;
}

.container {
	padding: 15vh 5vw 8vh 5vw;
}

/********** FONTS **********/
.main-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 36px;
	color: var(--green-text);
}

.header {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: var(--green-text);
}

.subheader {
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: var(--green-text);
}

.button-text-dummy {
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: var(--green-text);
}

.cta-text {
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: var(--light);
}

.shadow-cta-text {
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	background: -webkit-linear-gradient(
		97.66deg,
		#f56a79 54.56%,
		#ffa179 102.2%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text {
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: var(--green-text);
}

.small-text {
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: var(--green-text);
}

.footer-text {
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: var(--light);
}

/********** EFFECTS AND SHADOW **********/
.text-glow {
	text-shadow: 0px 1px 25px rgba(49, 142, 104, 0.2);
}
.text-shadow {
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

/********** CARDS AND BUTTONS **********/
.cta {
	padding: 12px 32px;
	background: linear-gradient(97.66deg, #f56a79 54.56%, #ffa179 102.2%);
	border-radius: 300px;
	border: none;
}

.shadow-cta {
	padding: 12px 32px;
	background: none;
	border-radius: 300px;
	border: 2px solid var(--passionfruit);
}

.card {
	padding: 32px;
	background-color: var(--light);
	border-radius: 10px;
	box-shadow: 0px 1px 50px rgba(49, 142, 104, 0.1);
	display: inline-block;
}

.footer {
	flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	padding: 8px;
	background-color: var(--green-1);
	text-align: center;
}

/********** CONTAINERS **********/
.hero {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;
	margin-top: 10vh;
}

.center {
	text-align: center;
}

.centered-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.home-cards-container {
	display: flex;
    flex-flow: row wrap;
    align-items: stretch;
	justify-content: center;
	margin-top: 25vh;
	margin-bottom: 10vh;
}

.home-card {
	text-align: center;
	display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
	align-items: center;
	width: 220px;
	margin: 16px;
}

.left-row {
	display: flex;
	flex-flow: row nowrap;
}

.todolist-header {
	width: 45vw;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.todolist-card {
	width: 300px;
	border: none;
}

.todolist-form {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 24px;
}

.todolist-smallform {
	display: flex;
	flex-flow: column nowrap;
	margin: 16px;
}

/********** STATICS **********/
.home-logo {
	width: 70px;
	height: 70px;
}

.home-img {
	max-width: 150px;
}

/************************************/
/********** MOBILE VERSION **********/
/************************************/
@media only screen and (max-width: 750px) {
	.main-title {
		font-size: 32px;
	}
	.header {
		font-size: 24px;
	}
	.subheader {
		font-size: 18px;
	}
	.button-text {
		font-size: 14px;
	}
	.text {
		font-size: 12px;
	}
	.small-text {
		font-size: 10px;
	}

	.cta {
		padding: 8px 16px;
	}
	.shadow-cta {
		padding: 8px 16px;
	}
	.card {
		padding: 16px;
	}

	.left-row {
		flex-flow: row wrap;
	}

	.todolist-header { width: auto; }
	.todolist-card { width: 225px; }
	.todolist-form {
		flex-flow: column nowrap;
	}
	.todolist-smallform {
		margin: 0 0 16px 0;
	}
}
