{% extends 'templates/base.html' %}

{% block meta %}
    <title>To-Do List - Survive COVID</title>
{% endblock meta %}

{% block content %}

<div style="display:flex; align-items: center; flex-flow: column nowrap; min-height: 600px;">

<div class="todolist-header" style="margin-bottom: 24px;">
    <p style="margin-bottom: 8px;  text-align: center;" class="main-title">Keep yourself safe.</p>
    <p style="margin-bottom: 8px; text-align: center;" class="button-text-dummy">With these to-do lists, you can check what you need to keep yourself safe when doing certain activities  in this pandemic. You can even make your own to help others!</p>
    <div style="display: flex; flex-flow: row wrap;">
        <a style="margin: 8px;" href="#all-lists">
            <button class="cta">
                <p class="cta-text text-shadow">Try a list</p>
            </button>
        </a>
        <a style="margin: 8px;" href="/todolist/form/">
            <button class="shadow-cta">
                <p class="shadow-cta-text">Make your own</p>
            </button>
        </a>
    </div>
</div>

<div id="all-lists" style="margin-bottom: 24px; display:flex; justify-content: center; flex-flow: row wrap;">
    {% for list in lists %}
    <a href="{{ list.id }}"  style="margin: 8px;">
        <div class="card todolist-card">
            <p class="small-text">WHAT TO BRING FOR</p>
            <p class="subheader" style="margin-bottom: 4px;">{{ list.nama_list}}</p>
            <p class="text">{{ list.deskripsi}}</p>
        </div>
    </a>
    {% endfor %}
</div>

<a style="margin: 8px;" href="/todolist/form/">
    <button class="cta">
        <p class="cta-text text-shadow">+ Add a new list</p>
    </button>
</a>

</div>

{% endblock content %}