{% extends 'templates/base.html' %}

{% block meta %}
    <title>To-Do List - Survive COVID</title>
{% endblock meta %}

{% block content %}

<div style="display: flex; flex-flow: row wrap; min-height: 600px;">

<div style="margin-right: 10vw; margin-bottom: 24px;">
    <p class="button-text-dummy">WHAT TO BRING FOR</p>
    <p class="header" style="margin-bottom: 12px;">{{ lists.nama_list }}</p>
    <form method='POST'>
    {% csrf_token %}
    <button class="shadow-cta" type="submit"><p class="shadow-cta-text">✕ Delete list</p></button>
</form>
</div>

<div style="margin-right: 10vw; margin-bottom: 24px;">
    <p class="button-text-dummy" style="margin-bottom: 8px;">TO DO LIST</p>
    <input type="checkbox">
    <label class="text">{{ lists.todo1 }}</label><br>
    <input type="checkbox">
    <label class="text">{{ lists.todo2 }}</label><br>
    <input type="checkbox">
    <label class="text">{{ lists.todo3 }}</label><br>
    <input type="checkbox">
    <label class="text">{{ lists.todo4 }}</label><br>
    <input type="checkbox">
    <label class="text">{{ lists.todo5 }}</label><br>
</div>

<div>
    <p class="button-text-dummy" style="margin-bottom: 8px;">TO BRING LIST</p>
    <input type="checkbox">
    <label class="text">{{ lists.tobring1 }}</label><br>
    <input type="checkbox">
    <label class="text">{{ lists.tobring2 }}</label><br>
    <input type="checkbox">
    <label class="text">{{ lists.tobring3 }}</label><br>
    <input type="checkbox">
    <label class="text">{{ lists.tobring4 }}</label><br>
    <input type="checkbox">
    <label class="text">{{ lists.tobring5 }}</label><br>
</div>

</div>

{% endblock content %}