{% extends 'templates/base.html' %}
{% load static %}

{% block meta %}
    <title>Mini-Test - Survive COVID</title>
{% endblock meta %}

{% block content %}
<div class="columns has-text-centered is-centered" style="min-height: 600px; align-items: center;">
    <div class="column is-8">
        <p class="main-title text-glow">Am I Okay?<p>
            <p class="button-text-dummy pb-3">If you are not, you might want to take the mini test to check whether you are advised to get a check up or not.</p>
            <a href="{% url 'start' %}">
                <button class="cta">
                    <p class="cta-text text-shadow">Take the Test</p>
                </button>
            </a>  
    </div>
</div>
{% endblock content %}