{% extends 'templates/base.html' %}

{% block meta %}
    <title>Mini-Test - Survive COVID</title>
{% endblock meta %}

{% block content %}
<div class="columns has-text-centered is-centered">
    <div class="column is-8">
        <p class="main-title text-glow">MINI-TEST</p>
    </div>
</div>

<div class="columns has-text-centered is-centered">
    <div class="column is-8">
        <form action="{% url 'result' %}" method="POST">
            {% csrf_token %}
            <p class="subheader">Fever</p>
            <p class="text">(demam)</p>
                <input type="radio" name="1" value="0" required>
                <label for="1" class="text">No</label>
                <input type="radio" name="1" value="5" required>
                <label for="1" class="text pb-3">Yes</label>
            <p class="subheader">Fatigue</p>
            <p class="text">(kelelahan)</p>
                <input type="radio" name="2" value="0" required>
                <label for="2" class="text">No</label>
                <input type="radio" name="2" value="5" required>
                <label for="2" class="text pb-3">Yes</label>
            <p class="subheader">Dry Cough</p>
            <p class="text">(batuk kering)</p>
                <input type="radio" name="3" value="0" required>
                <label for="3" class="text">No</label>
                <input type="radio" name="3" value="5" required>
                <label for="3" class="text pb-3">Yes</label>
            <p class="subheader">Loss of sense of taste/smell</p>
            <p class="text">(hilang kemampuan indera perasa/penciuman)</p>
                <input type="radio" name="4" value="0" required>
                <label for="4" class="text">No</label>
                <input type="radio" name="4" value="3" required>
                <label for="4" class="text pb-3">Yes</label>
            <p class="subheader">Sneezing</p>
            <p class="text">(bersin)</p>
                <input type="radio" name="5" value="0" required>
                <label for="5" class="text">No</label>
                <input type="radio" name="5" value="0" required>
                <label for="5" class="text pb-3">Yes</label>
            <p class="subheader">Aches and pains</p>
            <p class="text">(sakit dan nyeri)</p>
                <input type="radio" name="6" value="0" required>
                <label for="6" class="text">No</label>
                <input type="radio" name="6" value="2" required>
                <label for="6" class="text pb-3">Yes</label>
            <p class="subheader">Runny or stuffy nose</p>
            <p class="text">(pilek dan hidung tersumbat)</p>
                <input type="radio" name="7" value="0" required>
                <label for="7" class="text">No</label>
                <input type="radio" name="7" value="1" required>
                <label for="7" class="text pb-3">Yes</label>
            <p class="subheader">Diarrhoea</p>
            <p class="text">(diare)</p>
                <input type="radio" name="8" value="0" required>
                <label for="8" class="text">No</label>
                <input type="radio" name="8" value="1" required>
                <label for="8" class="text pb-3">Yes</label>
            <p class="subheader">Headaches</p>
            <p class="text">(sakit kepala)</p>
                <input type="radio" name="9" value="0" required>
                <label for="9" class="text">No</label>
                <input type="radio" name="9" value="2" required>
                <label for="9" class="text pb-3">Yes</label>
            <p class="subheader">Shortness of breath</p>
            <p class="text">(sesak napas)</p>
                <input type="radio" name="10" value="0" required>
                <label for="10" class="text">No</label>
                <input type="radio" name="10" value="2" required>
                <label for="10" class="text pb-3">Yes</label>
            <p class="subheader">Sore throat</p>
            <p class="text">(sakit tenggorokan)</p>
                <input type="radio" name="11" value="0" required>
                <label for="11" class="text">No</label>
                <input type="radio" name="11" value="2" required>
                <label for="11" class="text pb-3">Yes</label>
            <br>
            <button class="cta">
                <p class="cta-text text-shadow">Submit</p>
            </button> 
        </form>
    </div>
</div>
{% endblock content %}