{% extends 'templates/base.html' %}

{% block meta %}
<title>Mini-Test - Survive COVID</title>
{% endblock meta %}

{% block content %}
<div style="min-height: 600px; align-items: center;">
    <div class="columns has-text-centered is-centered">
        <div class="column is-8">
            <p class="subheader">Thank you for your suggestion!</p>
        </div>
    </div>
    
    <div class="columns has-text-centered is-centered">
        <div class="column is-8">
            <p class="subheader pb-2">Suggest another question</p>
            <a href="{% url 'suggest' %}">
                {% csrf_token %}
                <button class="shadow-cta">
                    <p class="shadow-cta-text">Suggest</p>
                </button>
            </a>
        </div>
    </div>
</div>




 
{% endblock content %}