{% extends 'templates/base.html' %}

{% block meta %}
<title>Tracker - Survive COVID</title>
{% endblock meta %}

{% block content %}
<p class="main-title text-glow">Status Report Victims of COVID-19</p>
<p class="header">Feeling Worried? Tried Searching</p>
<form method="POST">
    {% csrf_token %}
    <div>
        {{ form }}
        <p class="cta-text text-shadow"><input type='submit' class="cta cta-text text-shadow" value="Search" /></p>
    </div>
</form>
<table>
    <thead>
        <tr>
            <td>Provinsi</td>
            <td>Kasus Positif</td>
            <td>Kasus Sembuh</td>
            <td>Kasus Meninggal</td>

        </tr>
    </thead>
    <tbody>
        {% for i in features %}
        <tr>
            <td>{{i.attributes.Provinsi}}</td>
            <td>{{i.attributes.Kasus_Posi}}</td>
            <td>{{i.attributes.Kasus_Semb}}</td>
            <td>{{i.attributes.Kasus_Meni}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'create_page' %}">
    <button class="cta">
        <p class="cta-text text-shadow">Create Provinsi</p>
    </button>
</a>
{% endblock content %}
