{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block meta %}
    {% endblock meta %}
</head>

<body>
    <header>
        <a class="logo" href="#"><img class="icon" src="{% static 'pics/logo.png' %}" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/tracker">Tracker</a></li>
                <li><a href="/quiz">Mini-Test</a></li>
                <li><a href="/todolist">To-Do List</a></li>
            </ul>
        </nav>
        <p class="menu nav-cta">
            <i class="fa fa-bars"></i>
        </p>
    </header>

    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a class="closetext" href="/">Home</a>
            <a class="closetext5" href="/tracker">Tracker</a>
            <a class="closetext2" href="/quiz">Mini-Test</a>
            <a class="closetext3" href="/todolist">To-Do List</a>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/mobile.js' %}"></script>

      <div class="container">
          {% block content %}
          {% endblock content %}
      </div>
</body>
</html>
