{% extends 'templates/base.html' %}
{% block content %}
    <p class="main-title text-glow">Main Title / Montserrat Bold</p>
    <p class="header">Header / Montserrat Bold</p>
    <p class="subheader">Subheader / DM Sans Bold</p>
    <p class="button-text-dummy">Buttons or CTA / DM Sans Medium</p>
    <p class="text">Text / DM Sans Regular</p>
    <p class="small-text">Small Text / DM Sans Regular</p>
    <button class="cta">
        <p class="cta-text text-shadow">what the fuck</p>
    </button>
    <button class="shadow-cta">
        <p class="shadow-cta-text">what the fuck</p>
    </button>
    <div class="card">
        <p class="header">Test</p>
    </div>
{% endblock content %}
